/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/solr_conf/
/spec/reports/
spec/internal
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
jetty
fcrepo4-data
fcrepo4-test-data/
.DS_Store
.ruby-gemset
.ruby-version
/spec/examples.txt