---
version: 2.1
orbs:
  samvera: samvera/circleci-orb@0
jobs:
  test:
    parameters:
      ruby_version:
        type: string
      bundler_version:
        type: string
        default: 1.17.3
      rails_version:
        type: string
    environment:
      RAILS_VERSION: << parameters.rails_version >>
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true
    executor:
      name: 'samvera/ruby_fcrepo_solr'
      ruby_version: << parameters.ruby_version >>
    steps:
      - run: 'sudo apt-get update && sudo apt-get install clamav'
      - run: 'sudo freshclam'
      - samvera/cached_checkout
      - run:
          name: Check for a branch named 'master'
          command: |
            git fetch --all --quiet --prune --prune-tags
            if [[ -n "$(git branch --all --list master */master)" ]]; then
              echo "A branch named 'master' was found. Please remove it."
              echo "$(git branch --all --list master */master)"
            fi
            [[ -z "$(git branch --all --list master */master)" ]]
      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          project: hydra-works
      - samvera/install_solr_active_fedora_core
      - samvera/parallel_rspec

workflows:
  version: 2
  ci:
    jobs:
      - test:
          name: ruby2-7_rails6-0
          ruby_version: 2.7.1
          rails_version: 6.0.3.1
      - test:
          name: ruby2-6_rails6-0
          ruby_version: 2.6.6
          rails_version: 6.0.3.1
      - test:
          name: ruby2-5_rails6-0
          ruby_version: 2.5.8
          rails_version: 6.0.3.1
      - test:
          name: ruby2-7_rails5-2
          ruby_version: 2.7.1
          rails_version: 5.2.4.3
      - test:
          name: ruby2-6_rails5-2
          ruby_version: 2.6.6
          rails_version: 5.2.4.3
      - test:
          name: ruby2-5_rails5-2
          ruby_version: 2.5.8
          rails_version: 5.2.4.3
